highlight {
    background: yellow;
}

.title {
    color: #369;
    background-color: #ffda31;
}

@media(min-width: 768px) {
    .col-form-label {
        text-align: right;
    }
}

.function-area {
    button {
        margin-right: 15px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}
