<div class="container mt-3" *ngIf="dt">
    <div class="row">
        <div class="form-group col-lg-4 col-md-6">
            <label class="col-form-label">來源</label>
            <pre class="form-control" [innerText]="dt.db.src"></pre>
        </div>
        <div class="form-group col-lg-4 col-md-6">
            <label class="col-form-label">管理單位</label>
            <pre class="form-control" [innerText]="dt.db.dept"></pre>
        </div>
        <div class="form-group col-lg-4 col-md-6">
            <label class="col-form-label">系統管理者</label>
            <pre class="form-control" [innerText]="dt.db.admin"></pre>
        </div>
        <div class="form-group col-lg-4 col-md-6">
            <label class="col-form-label">系統負責人</label>
            <pre class="form-control" [innerText]="dt.db.principal"></pre>
        </div>
        <div class="form-group col-lg-4 col-md-6">
            <label class="col-form-label">系統轉入年月</label>
            <pre class="form-control" [innerText]="dt.dataDate"></pre>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <label class="col-form-label">資料庫名稱</label>
            <pre class="form-control" [innerText]="dt.db.name"></pre>
        </div>
        <div class="form-group col-lg-6">
            <label class="col-form-label">資料表中文名</label>
            <pre class="form-control" [innerHtml]="highlight(dt.name)"></pre>
        </div>
        <div class="form-group col-lg-6">
            <label class="col-form-label">資料表英文名</label>
            <pre class="form-control" [innerHtml]="highlight(dt.nameE)"></pre>
        </div>
        <div class="form-group col-12">
            <label class="col-form-label">備註</label>
            <pre class="form-control" [innerText]="dt.remark"></pre>
        </div>
        <div class="form-group col-12">
            <label class="col-form-label">重要欄位說明</label>
            <pre class="form-control" [innerText]="dt.important"></pre>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 p-3">
            共
            <span [innerText]="dt.cols.length | number"></span>
            個欄位
        </div>
        <div class="col-sm-12 p-0">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th>中文名稱</th>
                        <th class="d-none d-lg-table-cell">英文名稱</th>
                        <th>主鍵</th>
                        <th class="d-none d-lg-table-cell">NULL</th>
                        <th class="d-none d-lg-table-cell">欄位型別/長度</th>
                        <th>其它識別名</th>
                        <th>備註</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let o of dt.cols">
                        <td [innerHtml]="highlight(o.name)"></td>
                        <td class="d-none d-lg-table-cell" [innerHtml]="highlight(o.nameE)"></td>
                        <td class="text-center" [innerText]="o.isPK ? 'V' : ''"></td>
                        <td class="d-none d-lg-table-cell text-center" [innerText]="o.nullable ? 'V' : ''"></td>
                        <td class="d-none d-lg-table-cell text-center" [innerText]="o.type +', ' + o.length"></td>
                        <td class="text-center" [innerHtml]="highlight(o.alias)"></td>
                        <td>
                            <div [innerText]="o.remark"></div>
                            <div *ngIf="o.codeMap.length > 0">
                                <button type="button" id="cmb_{{o.id}}" class="codemap" (click)="codemapButton_click($event.target)">代碼表</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>