.progress {
    height: 34px;

    .progress-bar {
        font-size: 20px;
        line-height: 34px;
    }
}

.exception {
    .type {
        color: gray;
    }

    .message {
        color: red;
        font-weight: bold;    
    }
}
