.progress {
    height: 50px;

    .progress-bar {
        font-size: 24px;
        line-height: 50px;
    }
}

.exception {
    .type {
        color: gray;
    }

    .message {
        color: red;
        font-weight: bold;    
    }
}
