<h3 class="title">譯碼簿匯入</h3>

<!-- 檔案上傳表單 -->
<form id="uploadForm" [action]="actionUrl" method="post" enctype="multipart/form-data" *ngIf="progress == null">
    <div class="form-group row">
        <label for="db" class="col-sm-3 col-form-label">要匯入的檔案</label>
        <div class="col-sm-9">
            <input name="file" type="file" accept=".xlsx" class="form-control" [(ngModel)]="file" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 function-area">
            <button class="btn btn-primary" (click)="import()">匯入</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-xs-12">
            <div class="alert alert-info">
                建議全系覺同一時間只進行一個匯入操作，如有其它人正在匯入，則可能會發生資料庫操作逾時。
            </div>
        </div>
    </div>
</form>

<!-- 進度條 -->
<div class="row" *ngIf="progress != null">
    <div class="col-xs-12">
        <label>資料匯入中，請稍候 ...</label>
    </div>
    <div class="col-xs-10">
        <div class="progress">
            <div class="progress-bar progress-bar-info" [ngStyle]="{'width': progress + '%'}">
                {{progress}}%
            </div>
        </div>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-default" (click)="cancel($event.target)">取消</button>
    </div>
    <div class="col-xs-12">
        <div class="alert alert-warning">
            為確保整個流程順利，請勿關閉此畫面；如不小心關閉，重新開啟即可。
        </div>
    </div>
</div>

<!-- 最後一次匯入處理結果 -->
<div class="row" *ngIf="state != null || cancelled != null || error != null || exceptions != null">
    <div class="col-xs-12">
        <h4>最後一次匯入處理結果</h4>
        <h5>檔案名稱：{{fileName}}</h5>
        <!-- 處理結果 -->
        <div *ngIf="state != null">
            <app-table-import-result-item [state]="state" name="資料庫主檔"></app-table-import-result-item>
            <app-table-import-result-item [state]="state" name="資料表主檔"></app-table-import-result-item>
            <app-table-import-result-item [state]="state" name="欄位主檔"></app-table-import-result-item>
            <app-table-import-result-item [state]="state" name="代碼表主檔"></app-table-import-result-item>
            <app-table-import-result-item [state]="state" name="代碼表明細檔"></app-table-import-result-item>
        </div>
        <!-- 取消訊息 -->
        <div *ngIf="cancelled != null">
            <div class="alert alert-info">已取消。</div>
        </div>
        <!-- 錯誤訊息 -->
        <div *ngIf="error != null">
            <div class="alert alert-danger" [innerText]="error"></div>
        </div>
        <!-- 例外訊息 -->
        <div *ngIf="exceptions != null">
            <label class="alert alert-danger">發生未預期的例外，請將以下訊息轉給系統工程師處理。</label>
            <div class="exception" *ngFor="let ex of exceptions">
                <span class="type" [innerText]="ex.type + '：'"></span>
                <span class="exception" [innerText]="ex.message"></span>
                <pre [innerText]="ex.callstack"></pre>
            </div>
        </div>
    </div>
</div>